@{
    ViewData["Title"] = "Login";
    ViewBag.Page = "Login";
}

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="container">
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Log In</h3>
                        </div>
                        <div class="card-body">
                            <form id="frmLogin">
                                <input type="hidden" name="application" value="MDO" />
                                @if (!string.IsNullOrEmpty(ViewBag.Registration))
                                {
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @if (ViewBag.Registration.Contains("error") || ViewBag.Registration.Contains("wrong"))
                                            {
                                                <div class="alert alert-danger" role="alert">
                                                    @ViewBag.Registration
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="alert alert-success" role="alert">
                                                    @ViewBag.Registration
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                <div class="row" id="LoginValidation" style="display: none">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger" role="alert">
                                            Username / password is incorrect
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Username" name="Username" id="username">
                                </div>
                                <span id="username_error" style="display:none; color:red"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Password" name="Password" id="password">
                                </div>
                                <span id="password_error" style="display:none; color:red"></span>
                                <div class="form-group">
                                    <button class="btn btn-primary float-right" type="submit" onclick="SubmitLoginForm(); return false;">Login</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-center">
                                <a href="#">Forgot your password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ShowMediumAndBelow">
            <div style="margin-top:.25em;">&nbsp;</div>
        </div>
        <div class="col-md-5">
            <div class="container">
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Register</h3>
                        </div>
                        <div class="card-body">
                            <form id="frmRegister">
                                <input type="hidden" name="application" value="MDO" />
                                <div class="row" id="RegisterValidation" style="display: none">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger" role="alert">
                                            Username / password is incorrect
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Username" name="username" id="regusername">
                                </div>
                                <span id="regusername_error" style="display:none; color:red"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" name="email" id="email">
                                </div>
                                <span id="email_error" style="display:none; color:red"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Password" name="password" id="regpassword">
                                </div>
                                <span id="regpassword_error" style="display:none; color:red"></span>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Retype password" name="RetypePassword" id="retype-password">
                                </div>
                                <span id="retype-password_error" style="display:none; color:red"></span>
                                <div class="form-group">
                                    <button class="btn btn-primary float-right" type="submit" onclick="SubmitRegisterForm(); return false;">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>


@section Scripts {
    <script>
        function SubmitLoginForm() {
            SubmitForm('#frmLogin', '/Login/Login', 'Post', '#LoginValidation', true, 'ReloadPage');
        }

        function SubmitRegisterForm() {
            SubmitForm('#frmRegister', '/Login/Register', 'Post', '#RegisterValidation', true, 'NULL');
        }

        function ReloadPage() {
            window.location = "/Home/Index";
        }
    </script>
}